@charset "utf-8";
.pencil {
	position: relative;
	left: 97.5%;
}
.heading {
	position: relative;
	top: 27px;
}
.info {
	position: relative;
	left: -40%;
	top: 0px;
}
.info2 {
	position: relative;
	top: -30px;
	left:-30px;
}
.info3 {
	position: relative;
	left: -65px;
	top: -26px;
}
